.root {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: url("https://images.unsplash.com/photo-1504280317859-9c6cce36bca8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=786&q=80")
      padding-box border-box,
    #00000073;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.text__dPAqD {
  position: sticky;
  width: 181px;
  height: 84px;
  max-width: 100%;
  left: 0px;
  top: 0px;
  z-index: 1;
  flex-shrink: 0;
}
.h2 {
  text-align: center;
}
.text__oeZcI {
  position: relative;
  width: 246px;
  height: 143px;
  max-width: 100%;
  flex-shrink: 0;
}
.button2:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__l1AVi {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg___5CT6D {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
