.form:global(.__wab_instance) {
  display: grid;
  grid-row-gap: 10px;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  grid-template-columns:
    1fr minmax(0, var(--plsmc-wide-chunk)) var(--plsmc-viewport-gap)
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    var(--plsmc-viewport-gap) minmax(0, var(--plsmc-wide-chunk)) 1fr;
}
:where(.form > *) {
  grid-column: 4;
}
.formField:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text___4Bqrb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.textArea:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text___7MmXj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
